*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

h2{
  font-family: "Lato", sans-serif;
  line-height: 6vh;
}

.small-container{
  margin: 0 auto;
  width: 100vw;
  height: 20vh;
}

.large-container{
  margin: 0 auto;
  width: 100vw;
  height: 35vh;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-box{
  width: 100px;
  height: 100px;
  margin-top: 3vh;
  margin-left: 3vh;
  display: inline-block;
  background-color: #0099ff;
}

.gray-color{
  background-color: #dedede;
}

.white-color{
  background-color: #ffffff;
}

.blue-color{
  background-color: #0099ff;
}

.teal-color{
  background-color: #4dffdb;
}
.greenish-teal-color{
  background-color: #d9ff66;
}
.yellow-color{
  background-color: #ffff1a;
}