body {
  margin: 0;
  background-color: lightgray;
  width: 100%;
  height: 100vh;
}

.header-div{
  background-color: rgb(63, 61, 61);
  width: 100%;
  height: 25vh;
}

.white-div{
  /* centers the content to the center of the page*/
  margin: 0 auto;
  width: 110vh;
  height: 100%;
  background-color: #ffffff;
}

.black-div{
  margin: 0 auto;
  width: 110vh;
  height: 20%;
  background-color: #000000;
}